<ion-view view-title="Calcolo ritenuta d'acconto">
  <ion-content scroll="false">




        <div class="primary-panel">
            <div class="control-group">
                <input placeholder="Importo" floating-label ng-model="test"  type="tel"/>
            </div>
        </div>




      <div class="num-pad">
          <button class="button r1 c1 one-third">7</button>
          <button class="button r1 c2 one-third">8</button>
          <button class="button r1 c3 one-third">9</button>

          <button class="button r2 c1 one-third">4</button>
          <button class="button r2 c2 one-third">5</button>
          <button class="button r2 c3 one-third">6</button>

          <button class="button r3 c1 one-third">1</button>
          <button class="button r3 c2 one-third">2</button>
          <button class="button r3 c3 one-third">3</button>

          <button class="button r4 c1 one-third">0</button>
          <button class="button r4 c2 one-third">.</button>
          <button class="button r4 c3 one-third"><i class="ion-backspace-outline"></i></button>


          <button class="button r5 c1 half calculate">Calcola dal lordo</button>
          <button class="button r5 c2h half calculate">Calcola dal netto</button>



      </div>



  </ion-content>
</ion-view>
