/* GLOBALS */

@font-face {
    font-family: mainfont;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: titlefont;
    src: url(../fonts/Raleway-Bold.ttf);
}

h1, h2, h3, h4{
    font-family: titlefont;
}
p{
    font-family: mainfont;
}


/* IONIC STRUCTURE*/

.bar{
    background: #333!important;
    color: #ffffff!important;
    border: none!important;
}
    .bar > *{
        color: #ffffff!important;
        font-family: titlefont;
    }
    .bar .button.button-clear{
        color: #dddddd;
    }





.pane{
    background: #e8e8e8!important;
    background: #333!important;
}





.menu-left{
    background: #333!important;
}
    .menu-left .item {
        border: none!important;
    }
        .menu-left .item > a,
        .menu-left .item > a:hover,
        .menu-left .item > a:active,
        .menu-left .item > a:visited{
            background: #333;
            font-family: titlefont;
            font-size: 12px;
            color: #ffffff;
            border: none!important;
        }
    .menu-left img{
        width:calc(100% - 70px);
        margin:30px 20px 10px 16px;
    }







/* FORMS */
.calculate-categories{
    font-family: titlefont;
    text-transform: uppercase;
    font-size:8px;
    color: #333;
    margin-bottom: 10px;
}
    .calculate-categories > a{
        text-decoration: none;
        color: #333;
        font-size:12px;
    }


.primary-panel {
    background: #fff;
    background-clip: padding-box;
    padding: 18px 18px 18px 18px;
    position: absolute;
    top:0px;
    height: 25%;
}




.control-group {
    margin-top:8px;
    padding: 0 10px 0 10px;
}
    .control-group:first-child {
        margin-top:0px;
    }

input[type=tel] {
    font-family: mainfont;
    border: 0;
    color: #333;
    font-size: 35px;
    letter-spacing: -1px;
    outline: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 61px!important;
    line-height: 65px!important;
    width:100%;
    text-align: right;
}
.floating-label {
    font-family: titlefont;
    text-transform: uppercase;
    position: relative;
    color: #AAA;

}
.floating-label label {
    position: absolute;
    font-size: 11px;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    transition: -webkit-transform 0.15s ease-in;
    transition: transform 0.15s ease-in;
    z-index:0;
    opacity: 0;
}
.floating-label label.active {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    z-index:10;
    opacity: 1;
}





.num-pad{
    background: #333!important;
    color: #ffffff!important;
    position: absolute;
    bottom:0px;
    height:75%;
    width:100%;
}
.num-pad .button{
    position:absolute;
}
.num-pad .one-third{
    width: calc(100%/3);
    height: 20%;
}
.num-pad .half{
    width: 50%;
    height: 20%;
}

.num-pad .c1{
    left:0;
}
.num-pad .c2{
    left: calc(100%/3);
}
.num-pad .c2h{
    left: calc(100%/2);
}
.num-pad .c3{
    left:calc(100%/3*2);
}
.num-pad .r1{
    top:0;
}
.num-pad .r2{
    top:20%;
}
.num-pad .r3{
    top:40%;
}
.num-pad .r4{
    top:60%;
}
.num-pad .r5{
    top:80%;
}

.num-pad button{
    background: #333!important;
    color: #ffffff!important;
    font-family: mainfont;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    transition: all  0.5s linear;
    -webkit-transition: all 0.5s  linear;
    border-radius: 0!important;
}

.num-pad button:active{
    background-color: #cccccc!important;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s  linear;
}
.num-pad .calculate{
    color: #ffffff!important;
    font-family: titlefont;
    font-size: 14px;
    border: none;
    text-transform: none;
    background-color: #a5cc00!important;
    border-radius: 0;
}

/**
.num-pad > div{
}


**/